.page-header {
  background-color: $black;

  .display-3 {
    color: $company-primary-color;
    span {
      color: $lightest-color;
    }
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
  }
  
  @include media-breakpoint-down(sm) {
    .display-3 {
      //font-size: $display4-size;
      text-align: center;
   }
  }
}
